#admin-bar {
	width: 100%;
	height: 40px;
	background: #555;
}

#admin-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#admin-bar ul li {
	line-height: 36px;
}

#admin-bar ul li {
	display: inline;
}

#admin-bar ul li a {
	padding: 14px;
	color: #999;
}

#admin-bar ul li a:hover {
	text-decoration: none;
	color: #666;
	background: #ccc;
}

#admin-bar ul li.active a {
	color: #666;
	background: #ccc;
}

#admin-bar i {
	margin-right: 5px;
}

body#backend {
	padding-top: 70px;
}

nav i {
	margin-right: 5px;
}

footer {
	font-size: 12px;
	color: #999;
}

#widget-tags .panel-body {
	line-height: 30px;
	padding: 10px 15px 15px 15px;
}

h1.article-title {
	padding: 0;
	margin: 0 0 20px 0;
	font-size: 22px;
}

p {
	line-height: 28px;
}

.article {
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.article:last-child {
	border: 0;
}